* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent
}

*, *:before, *:after {
  box-sizing: border-box
}

@keyframes fadeUpDelay {
  0% {
    transform: translate3d(0, 4em, 0);
    opacity: 0
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

a {
  text-decoration: none
}

.body-header {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 1em auto 0;
}

.body-content {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0
}

body.gistLoad, body.shareLink {
  overflow: hidden;
}

body.gistLoad .overlay-loading {
  display: block;
}

body.shareLink .overlay-share {
  display: block;
}

.overlay {
  z-index: 999999;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  display: none;
}

.overlay-share .panel {
  width: 80%;
  max-width: 40em;
  text-align: center;
}

.overlay-share input {
  width: 100%;
  outline: 0;
  text-align: center;
  padding: 0.2em;
  border: none;
  border-bottom: dotted 1px #448AFF;
  transition: border 0.3s;
  color: #448AFF;
  transition: all 0.4s ease;
}

.overlay .overlay-inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-share .button {
  padding: 0.45em;
  margin: -0.45em;
}

.overlay-inner .spinner {
  zoom: 2;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 2.75em;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #448AFF;
  height: 100%;
  width: 0.4em;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.menu {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

.page {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  width: 100%;
  background-color: #448AFF;
  padding-top: 0;
  margin-top: 14.5em;
  overflow: hidden;
}

body .page-header {
  width: 100%;
  margin: 0;
  padding: 1em 0 0;
  border-radius: 0;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background-color: transparent;
  animation: fadeUpDelay 400ms;
  border: 0;
  background-color: transparent
}

.page-header textarea {
  position: relative;
  display: block;
  width: calc(100% - 2em);
  min-height: 20em;
  max-height: 30em;
  margin: 0 auto;
  padding: 0.75em 1em;
  border: 0;
  resize: none;
  border-radius: 0.25em;
  background-color: #FFFFFF;
  color: #224180;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header textarea:focus {
  outline: none
}

.page-section {
  width: 100%;
  margin: 0 1em;
  padding: 0 1em 1em;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #FFFFFF;
  animation: fadeUpDelay 400ms
}

body .page-section {
  width: 100%;
  margin: 0;
  padding: 1em 1em 0;
  border-radius: 0;
  background-color: transparent
}

.page-section h3 {
  margin: 1em 0;
  color: #224180;
  font-size: 16px;
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.0375em;
  text-transform: uppercase
}

body .page-section h3 {
  margin-top: 0;
  color: #FFFFFF;
  font-size: 12px;
  font-size: 0.75em
}

.page-section p {
  color: #224180;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0
}

body .page-section p {
  color: #FFFFFF;
  font-size: 16px;
  font-size: 1em
}

.page-footer {
  width: 100%;
  padding: 0 1em 1em;
  animation: fadeUpDelay 700ms;
}

.page-footer-text a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75em;
  transition: color 400ms ease;
}

.page-footer-text a:hover {
  color: #FFFFFF
}


/*
** Panel Styles Start here
*/

.panel-holder {
  position: absolute;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 14.5em;
  top: 0;
  left: 0;
  right: 0;
  padding: 3em 0 0;
  background-color: #3e6fd2;
}

.panel-header {
  display: none;
  flex: 0 1 auto;
  justify-content: space-between;
  order: 1;
  width: 100%;
  margin: 2em auto;
  padding: 0 2em;
}

.panel-header-title {
  flex: 0 1 auto;
  color: white;
  text-transform: uppercase;
  line-height: 1 !important;
}

.panel {
  background-color: #FFFFFF;
  animation: fadeUpDelay 600ms;
  border-radius: 0.25em;
  flex: 0 1 auto;
  margin: 1em 1.5em 0;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel-counter {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 1em;
}

.panel-tools {
  order: 4;
  width: 100%;
  margin: 1em;
}

#button-share.isLoading {
  padding: 0.5em;
}

#button-share .load {
  max-width: 100%;
  height: auto;
  max-height: 2.75em;
  display: none;
  margin: 0 auto;
}

#button-share.isLoading .load {
  display: block;
}

#button-share.isLoading span {
  display: none;
}

.panel-content-block {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 1em 0.75em
}

.panel-content-group {
  flex: 0 1 auto;
  color: #448AFF;
  width: 100%;
}

.panel-counter .panel-content-group {
  width: 50%;
}

.panel-content-block-one .panel-content-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.panel-content-count {
  font-size: 2.25em;
  font-weight: 100;
  font-style: normal;
  line-height: 1.3
}

.panel-content-sub {
  opacity: 0.7;
}

.panel-content-module {
  display: flex;
  flex: 0 1 auto;
  width: 33.33333%;
  max-width: 33.33333%;
  justify-content: flex-start
}

.panel-content-module:last-child {
  margin-bottom: 0;
}

.panel-content-label {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  width: 100%
}

.panel-content-label-text, .panel-content-label-data {
  width: 100%;
}

.panel-content-label-data {
  height: 1.375em;
  margin-top: 0.25em
}

.panel-content-label-count {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
  position: absolute
}

.panel-content-label-count:after {
  margin-left: 0.5em;
  opacity: 0.6;
  font-size: 0.625rem;
}

.yes.count--twitter:after {
  content: "/ 280"
}

.yes.count--google:after {
  content: "/ 160"
}

.yes.count--facebook:after {
  content: "/ 250"
}

.panel-stats {
  order: 3;
  position: relative;
  display: none;
  width: 50%;
}

.panel-stats .panel-content-block:first-child {
  padding-bottom: 0;
}

.panel-time {
  position: relative;
  display: none;
  order: 5;
}

.panel-tools .panel-content-block {
  padding: 0;
  text-align: center;
}

.oneofthree .panel-content-group {
  width: 33.33333%;
}
.oneoftwo .panel-content-group {
  width: 50%;
}

.panel-tools .panel-content-group {
  padding: 1em;
}

.panel-tools .panel-content-group:first-child {
  border-right: 1px solid #F1F2F6;
}

.panel-tools .panel-content-group:last-child {
  border-left: 1px solid #F1F2F6;
}

.button {
  cursor: pointer;
}

.button:hover {
  background: #F5F5F5;
}

.button:active {
  background: #EEE;
}

.head-bold {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5
}

.sub-head-bold {
  font-size: 0.625em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
}